.header {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    color: rgba(3, 11, 76, 0.724);
}

a {
    text-decoration: none;
    color: rgba(3, 11, 76, 0.724);
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.header__right {
    display: inline-block;
}

.firstview-relative {
    position: relative;
}

.firstview-relative__img {
    position: relative;
    margin: 0 0 0 auto;
    display: block;
    width: 50%;
    z-index: 10;
}

.firstview-absolute__title {
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 80px;
}

.firstview-absolute__box {
    position: absolute;
    top: 75%;
    left: 0%;
    width: 70%;
    height: 35%;
    background-color: rgba(19, 19, 129, 0.907);
    z-index: 0;
}