html, body {
    height: 100%;
    width: 100%;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.header__left {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    color: rgba(3, 11, 76, 0.724);
}

a {
    text-decoration: none;
    color: rgba(3, 11, 76, 0.724);
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}

.header__right {
    display: inline-block;
    height: 100%;
}

.firstview-relative {
    position: relative;
}

.firstview-relative__img {
    position: relative;
    margin: 0 0 0 auto;
    display: block;
    width: 50%;
    z-index: 10;
}

img {
    width: 100%;
}

.firstview-absolute__title {
    position: absolute;
    top: 67%;
    left: 0%;
    font-size: 80px;
    z-index: 0;
}

p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 300%;
    height: 280%;
    background-color: rgba(19, 19, 129, 0.907);
}

/* * {
    border: red solid 1px !important;
} */